<h1>Places I Have Been</h1>

<p>Here are all of the places you have visited:</p>

<ul>
  <% @places.each() do |location| %>
  <li><%= places.location() %></li>
  <% end %>
</ul>

<p>Please enter a place you have been:</p>

<form action="/places" method="post">
  <label for="location">Location Description</label>
  <input id="location" name="description" type="text">

  <button type="submit">Add location</button>
</form>
